body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
  	font-size: 16px;
  	line-height: 1.71429;
	background-color: #fff;
}

.menu{
	background-color: rgba(225 255 255 0);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	justify-content: flex-end;
	align-items: center;
	transition: all .3s ease-in-out;
}

.logoBlanco{
	margin-right: auto;
	margin-left: 50px;
	justify-content: flex-start;
}

.containerMenu{
    width: 100%;
    height: 100px;
    display: flex;
}

a:hover {
  color: #ff00bf;
}

#enlaceLogIn{
	border: 1px solid;
	border-radius: .25rem;
	border-color: white;
	margin-right: 50px;
}

/*Efecto al borde hover*/
#enlaceLogIn:hover{
	border-color:  #ff00bf;
}

/*Efectos de la bajada del menú - intento fallido*/
.menuColor{ 
	background-color:#fff; 
	color: #ff00bf; /*no cambia el color del texto*/
}

.menuSinColors{ 
	background-color:transparent;
}

/*color azul #333447*/

/*Foto del Fondo*/
.imgFondo{
	max-width: 100%;
    width: 100%;
}

/*Inofrmacion 1*/
.inform{
    display: flex;
    background: linear-gradient(#76278f, #2B1E66);
    margin: 0;
    color: white;
}

.containerInform{
    margin-top: 100px;
    margin-left: 150px;
}

.phone {
    margin-right: 100px;
    width: 500px;
}

.tit{
    font-size: 25px;
}

.titP{
    font-size: 14px;
    margin-bottom: 50px;
}

.imgPhone{
	height: 550px;
	width: auto;
	display: flex;
	align-self: center;
}

/*Footer*/
footer{
	background-color: #373b47;
	height: 400px;
}

.titulos{
  	color: white;
	display: flex;
	align-self: baseline;
	padding: 20px 50px 0 50px;
	text-transform: uppercase;
}

.link{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: white;
	padding: 20px 50px 0 50px;
}

.list{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;	
}

.fotStore{
	width: 130px;
	height: auto;
	display: flex;
	margin: 53px 0 0 0;
}

/*Parte de los iconos del Footer*/
.iconos{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
	margin-left: 40px;
}

.icon{
	justify-content: space-around;
	color: white;
	width: 5%;
	font-size: 26px;
	cursor:pointer;
    border-radius: 100px 100px 100px 100px;
}

.icon:hover{
	color: #ff00bf;
}

hr{
    height: 1px;
    border: 0;
    background-color: white;
    width: 500px;
}

.textUltimo{
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 12px;
}
